nav .brand-logo {
    padding-left: 8px;
}

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
    }

div .task_header {
    margin: auto 10px;
}

